body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*header start*/
header{
    width: 100%;
    background-color: chartreuse;
    color: darkgreen;
    display: flex;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    background-color: burlywood;
    width: 170px;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    float: left;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    line-height: 50px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-align: center ;
}
.navbar ul li:hover{
background-color: crimson;
transform: all ease-in 0.5s;
}
.navbar ul ul{
    display: none;
}
.navbar ul li:hover>ul{
    display: block;
}
/* header End */















/*from start*/
.form1{
    background-color: crimson;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 30px 80px;
    margin-top: 30px;
    border-radius: 5%;
    box-shadow: 0 4px 5px 0 rgba(1, 0, 0, 0.902), 0 6px 20px 0 rgba(10, 10, 10, 0.902);
}
.form1 input{
    padding: 5px 50px;
    border-color: rgb(244, 217, 13);
    border-radius: 50px;
}
.form1 .btn {
    font-weight: bold;
}
















/*footer start*/
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(19, 18, 18, 0.902);
    width: 100%;
    color: white;
}
.name h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
}
.text p {
width: 600px;
text-align: center;
margin: 0 auto;
position: relative;
top: -30px;
}
.icon i {
    font-size: 45px;
    position: relative;
    top: -20px;
    padding: 10px;
}
.copy{
    height: 50px;
    width: 100%;
    background-color: black;
    line-height: 50px;
    font-size: 25px;
}
